
<body>

    <div class="row featurette">
        <div class="col-xl-7 p-5">
          <h1 class="title d-flex flex-column text-center my-3">What is Friends of MSF ?</h1>
          <p class="body-text text-center py-2"> The Friends of Médecins Sans Frontières (MSF) at UTD is a 
            student-led organization dedicated to supporting MSF through advocacy, education, 
            and fundraising. Our chapter works to raise awareness about MSF’s global medical and humanitarian efforts by 
            engaging the UTD student body in meaningful discussions and initiatives. We actively support MSF by hosting 
            fundraisers, with all proceeds directly benefiting MSF’s life-saving missions. Additionally we organize speaker events and 
            panels, where professionals and experts share insights on global health, humanitarian crises, and their 
            experiences. Our chapter also participates in MSF’s advocacy programs, amplifying voices and taking action on urgent global issues.
             Through these efforts, we strive to inspire and mobilize students to contribute to MSF’s mission of delivering 
             emergency medical aid where it’s needed most.
          </p>
         </div>

        <div class="col-xl-5 d-flex justify-content-center">
            <img class="imageSize img-fluid" src="assets/welcomeMSF.png" alt="Welcome to Friends of MSF @ UTD" />
        </div>
      </div>
        <hr>
    <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 d-flex flex-column align-items-center order-1 order-md-2">
            <h1 class="title text-center my-4">Meet Our Chapter !</h1>
            <p class="body-text text-center py-2">
              UTD has had previous chapters of Friends of MSF in the past, but unfortunately, they have gradually faded
              over time. However, we hope that this chapter will be different because we are committed to ensuring its long-term success, 
               with the hope that it will continue to grow and inspire future students to spread the mission and goals of
                Médecins Sans Frontières. Our goal is not just to support MSF in the present but to build a strong foundation
                 that will allow this organization to thrive for years to come. The current officers are primarily students 
                 majoring in the medical field, but we welcome individuals from all disciplines who are passionate about 
                 global health and humanitarian work. We believe in fostering an open and welcoming environment, and we are 
                 always ready to answer questions, offer support, or engage in meaningful discussions. Whether you’re curious
                  about MSF’s work or have ideas on how to get involved, we encourage you to reach out to any of us. We are
                  happy to connect before or after our meetings, and we look forward to working together to make a lasting impact.
            </p>
          </div>
          <!-- Carousel Section (Left side) -->
            <div class="col-12 col-md-6 d-flex justify-content-center order-2 order-md-1">
          <div id="carouselExampleIndicators" class="carousel slide col-md-6 d-flex justify-content-center col-12 mx-auto my-3 p-3" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/currentOfficers.png" class="d-block w-100" alt="Current Officers of MSF">
              </div>
              <div class="carousel-item">
                <img src="assets/president.jpg" class="d-block w-100" alt="President of Friends of MSF">
              </div>
              <div class="carousel-item">
                <img src="assets/vicePresident.png" class="d-block w-100" alt="Vice President of Friends of MSF">
              </div>
              <div class="carousel-item">
                <img src="assets/digitalCoordinator.png" class="d-block w-100" alt="Digital Coordinator of Friends of MSF">
              </div>
              <div class="carousel-item">
                <img src="assets/treasurer.png" class="d-block w-100" alt="Treasurer of MSF">
              </div>
              <div class="carousel-item">
                <img src="assets/publicityChair1.png" class="d-block w-100" alt="Publicity and Campaign Chair of Friends of MSF">
              </div>
              <div class="carousel-item">
                <img src="assets/publicityChair2.png" class="d-block w-100" alt="Publicity and Campaign Chair of Friends of MSF">
              </div>
              <div class="carousel-item">
                <img src="assets/eventsSecretary.png" class="d-block w-100" alt="Events Secretary of Friends of MSF">
              </div>
              <div class="carousel-item">
                <img src="assets/socialSecretary.png" class="d-block w-100" alt="Social Secretary of Friends of MSF">
              </div>
              <div class="carousel-item">
                <img src="assets/secretary.png" class="d-block w-100" alt="Secretary of Friends of MSF">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
</body>

<script>
  
  const homeButton = document.querySelector('.home');
  const contactButton = document.querySelector('.contact');
  const photosButton = document.querySelector('.photos');
  const joinButton = document.querySelector('.join');
  
  contactButton.classList.remove('active');
  photosButton.classList.remove('active');
  joinButton.classList.remove('active');
  homeButton.classList.add('active');

</script>