<%- include('partials/header.ejs') %>

<body class="d-flex flex-column" style="min-height: 100vh;">


<div class="row featurette">
    <div class="col-xl-7 p-5">
      <h1 class="title d-flex flex-column text-center my-3">What is Friends of MSF&nbsp;?</h1>
      <p class="body-text text-center my-3"> The Friends of Médecins Sans Frontières (MSF) is a student-led organization dedicated to advocacy, education, and fundraising. Our chapter works to raise awareness over global medical and humanitarian efforts by engaging the UTD campus in meaningful discussion and initiative.
      </p>
     </div>

    <div class="col-xl-5 d-flex justify-content-center">
        <img class="imageSize img-fluid" src="assets/welcomeMSF.PNG" alt="Welcome to Friends of MSF @ UTD" />
    </div>
  </div>
    <hr>
<div class="container">
    <div class="row">
      <div class="col-12 col-md-6 d-flex flex-column align-items-center order-1 order-md-2">
        <h1 class="title text-center my-4">Meet Our Chapter !</h1>
        <p class="body-text text-center my-3">
            Our goal is not limited to supporting MSF in the present but to build a strong foundation that will allow this organization to thrive for years to come. The current officers are primarily students majoring in the medical field, but we welcome individuals from all disciplines who are passionate about global health and humanitarian work. We believe in fostering an open and welcoming environment, and are always ready to answer questions, offer support, or engage in meaningful discussions.
        </p>
      </div>
      <!-- Carousel Section (Left side) -->
        <div class="col-12 col-md-6 d-flex justify-content-center order-2 order-md-1">
      <div id="carouselExampleIndicators" class="carousel slide col-md-6 d-flex justify-content-center col-12 mx-auto my-3 p-3" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/president.JPG" class="d-block w-100" alt="President of Friends of MSF">
          </div>
          <div class="carousel-item">
            <img src="assets/vicePresident.PNG" class="d-block w-100" alt="Vice President of Friends of MSF">
          </div>
          <div class="carousel-item">
            <img src="assets/digitalCoordinator.PNG" class="d-block w-100" alt="Digital Coordinator of Friends of MSF">
          </div>
          <div class="carousel-item">
            <img src="assets/treasurer.PNG" class="d-block w-100" alt="Treasurer of MSF">
          </div>
          <div class="carousel-item">
            <img src="assets/publicityChair1.PNG" class="d-block w-100" alt="Publicity and Campaign Chair of Friends of MSF">
          </div>
          <div class="carousel-item">
            <img src="assets/publicityChair2.PNG" class="d-block w-100" alt="Publicity and Campaign Chair of Friends of MSF">
          </div>
          <div class="carousel-item">
            <img src="assets/eventsSecretary.PNG" class="d-block w-100" alt="Events Secretary of Friends of MSF">
          </div>
          <div class="carousel-item">
            <img src="assets/socialSecretary.PNG" class="d-block w-100" alt="Social Secretary of Friends of MSF">
          </div>
          <div class="carousel-item">
            <img src="assets/secretary.PNG" class="d-block w-100" alt="Secretary of Friends of MSF">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  
  <%- include('partials/footer.ejs')%>
</body>

<script>

const homeButton = document.querySelector('.home');
const contactButton = document.querySelector('.contact');
const photosButton = document.querySelector('.photos');
const joinButton = document.querySelector('.join');

contactButton.classList.remove('active');
photosButton.classList.remove('active');
joinButton.classList.remove('active');
homeButton.classList.add('active');

</script>