body{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
html {
  overflow-x: hidden;
}

.container-fluid, .navbar {
    max-width: 100%;
    margin: 0 auto;
}

.rubik-rubik {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.MSFUTD{
    width: 3rem;
    height: 3rem;
}
.MSFUTDLG{
    width: 4rem;
    height: 4rem;
}
.header{
    font-family: "Rubik";
    font-size: medium;
    color: #e03444;
}

.logo{
    margin-left: 2vw;
}

svg.socials:hover, .header:hover{
    color: #e03444;
}
.text-body-secondary{
    font-size: max(.5vw, 16px);
    font-family: "Rubik";
}

.navbar-nav, button{
    font-family: "Rubik" !important;
    font-weight: 700 !important;
    justify-content: center !important;
    align-items: center !important;
}

.navbar-collapse{
    justify-content: center;
    align-items: center;
}
.hidden{
    border: none;
    background: none;
}


.title{
    justify-content:center;
    text-align: center;
    color:#e03444;
    font-weight: 700;
    font-family: "Rubik";
}

.imageSize{
    height: 24rem;
    width: 24rem;
    padding: 1rem;
}

.name{
    position: absolute;
    display: block;
    margin-left: 2vw;
  }

.email{
    position: absolute;
    margin-left: 4vw;
  }
  
.message{
    display: flex;
    align-items: center; /* Aligns text and icon vertically */
    gap: 8px;

  }

.contactContainer{
    background-color: #fff6f6;
}

.inputBox{
    margin-left: 8vw;
}

.contactMe{
    justify-content: center;
    align-items: center;
  }

  input{
    padding: 25px;
  }

  nav{
    position: relative;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto !important;
  }

  .body-text{
    font-family: "Rubik";
    justify-content: center;
    font-size: 125%;
    text-align: center;
  }

  .carousel{
    width: 30rem !important;
    height: 38rem !important;
    margin: 0;
    justify-content: center !important;
  }

  .center{
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
  }

  ul{
    list-style-type: none;
  }
  .topic{
    font-family: "Rubik";
    font-size: x-large;
    font-weight: 600;
    color: #e03444;
}

.qrCode{
  height: 100%;
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Aligns items vertically */
  position: relative; /* Allows absolute positioning of the close button */
  width: 100%;
}

.modal-header .title {
  flex-grow: 1; /* Makes the title take up available space */
  text-align: center; /* Ensures text is centered */
}

.modal-header .btn-close {
  position: absolute;
  right: 15px; /* Adjust as needed */
}

.file{
  width: 10rem;
  height: 10rem;
}

.card-text{
  text-align: center;
}

.borderTop{
  border-top: 2px solid #000000; /* Horizontal line */
  margin: 15px auto;
  width: 50%;
}

.squish-text {
  max-width: 900px;   /* Adjust this number */
  margin: 0 auto;     /* Centers the text */
  line-height: 1.6;   /* Optional: makes it easier to read */
}

.title2{
    color:#e03444;
    font-family: "Rubik";
}

